[Desktop Entry]
Version=1.0
Type=Application
Name=ZimaOS USB Creator (Embedded)
Comment=ZimaOS USB Creator for embedded systems
Exec=rpi-imager-embedded
Icon=rpi-imager
Terminal=false
Categories=System;Utility;Embedded;
Keywords=zimaos;usb;creator;embedded;linuxfb;headless;
X-GNOME-SingleWindow=true
StartupNotify=false