[Desktop Entry]
Type=Application
Version=1.5
Name=ZimaOS USB Creator
Name[zh_CN]=ZimaOS USB 启动盘制作工具
Comment=Tool for writing images to SD cards for ZimaOS
Comment[zh_CN]=将镜像写入SD卡的ZimaOS工具
Icon=rpi-imager
Exec=pkexec --disable-internal-agent /usr/bin/rpi-imager %u
Categories=Utility;
StartupNotify=false
MimeType=x-scheme-handler/rpi-imager;application/vnd.raspberrypi.imager-manifest+json;
