[Desktop Entry]
Type=Application
Name=ZimaOS USB Creator (CLI)
Comment=ZimaOS USB Creator command-line interface
Exec=zimaos-usb-creator-cli
Icon=rpi-imager
Categories=System;
Terminal=true
NoDisplay=true
